<%- include ('../partials/header.ejs') %>
<div class="mt-4 p-5 bg-success text-white rounded">
    <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" placeholder="Votre nom" id="nom">
    </div>
    <div class="form-group">
        <label for="prenom">Prenom:</label>
        <input type="text" class="form-control" placeholder="Votre prenom" id="prenom">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Votre email" id="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control" placeholder="Votre mot de pass" id="password">
    </div>
    <button type="button" id="btnEnreg" class="btn btn-primary">Enregistrer</button>
</div>

<script>
    (()=>{
        document.getElementById("btnEnreg").addEventListener("click",async () => {
            let nom = document.getElementById("nom").value;
            let prenom = document.getElementById("prenom").value;
            let email = document.getElementById("email").value;
            let pass = document.getElementById("password").value;
            console.log(nom);
            console.log(prenom);
            console.log(email);
            console.log(pass);

            let post = JSON.stringify({
                firstName: prenom,
                lastName: nom,
                emailId: email,
                password: pass
            });
            console.log(post);
            //let url = "http://127.0.0.1:3000/users/register";
            //let origin = 'http://127.0.0.1:3000';
            let url = "/users/register";

            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    //Origin: origin
                },
                body: post
                },
                {mode: 'cors'});
            if (response.ok) { // if HTTP-status is 200-299
                // get the response body
                let json = await response.json();
                document.getElementById('p-response').innerText=JSON.stringify(json);
                setTimeout(()=>{
                    window.location.href = "/users";
                },2000);
            } else {
                document.getElementById('p-response').innerText="HTTP-Error: " + response.status;
            }

        });
    })();
</script>

<%- include ('../partials/footer.ejs') %>